<!-- views include footer.ejs code -->

<footer>
    <div class="f-info">
        <div class="socials">
            <a href="https://github.com/Yuvii2109"><i class="fa-brands fa-github"></i></a>&nbsp;&nbsp;
            <a href="https://www.instagram.com/yuvii2109/?next=%2F"><i class="fa-brands fa-instagram"></i></a>&nbsp;&nbsp;
            <a href="https://x.com/Yuvii_2109"><i class="fa-brands fa-x-twitter"></i></a>
        </div>
        <div class="copyright">&copy; WanderLust By YS</div>
        <div class="links">
            <a href="/privacy">Privacy</a>&nbsp;&nbsp;&nbsp;
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>