<!-- views home.ejs code -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1><u><i>WanderLust</i></u></h1>
    <h2><u>(Welcome to the first website by Yuvraj Sachdeva)</u></h2>
    <br>
    <form action="/listings">
        <button>Enter</button>
    </form>
</body>
</html>